<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   
   
   <bean id="PointA" class="com.sample.PointA">
      <property name="axisX" value="0"/>
      <property name="axisY" value="0"/>
   </bean>
   
   <bean id="triangle" class="com.sample.Triangle">
      <property name="point">
      	<ref bean="PointA"/>      
      </property>
   </bean>

</beans>